.header-text {
  text-shadow: 1px 1px 0 #d40404, -1px -1px 0 #d40404, 1px -1px 0 #d40404,
    -1px 1px 0 #d40404, 0 1px 0 #d40404, 1px 0 0 #d40404, 0 -1px 0 #d40404,
    -1px 0 0 #d40404;
}

@media (min-width: 640px) {
  .header-text {
    text-shadow: 2px 2px 0 #d40404, -2px -2px 0 #d40404, 2px -2px 0 #d40404,
      -2px 2px 0 #d40404, 0 2px 0 #d40404, 2px 0 0 #d40404, 0 -2px 0 #d40404,
      -2px 0 0 #d40404;
  }
}

.todoContainer {
  transition: background-color 2s, border-color 4s, color 4s;
}

.completed-removed {
  background-color: white;
  border-color: white;
  color: white;
}
